﻿@model MyVideoClub.Models.VideoClubDBModels.MemberUserModel[]
@{
    ViewBag.Title = "Index";
}

<br/>
@foreach (var item in Model)
{
    <h5>@item.Name  &nbsp; @item.Lastname</h5><br/>
}


<h2>Index</h2>

