﻿@model MyVideoClub.Models.VideoClubDBModels.MemberUserModel
@{
    ViewBag.Title = "EditMember";
}

<h2>EditMember</h2>
<div>
    <form method="post">
        <br />
        @Html.DisplayNameFor(a => a.Name)
        @Html.TextBoxFor(a => a.Name, new { placeholder = "Name" })
        <span id="name-validation"></span>
        @Html.ValidationMessageFor(a => a.Name)<br />
        @Html.DisplayNameFor(a => a.Lastname)
        @Html.TextBoxFor(a => a.Lastname, new { placeholder = "Last Name" })
        <span id="lastname-validation"></span>
        @Html.ValidationMessageFor(a => a.Lastname)<br />
        @Html.DisplayNameFor(a => a.Age)
        @Html.TextBoxFor(a => a.Age, new { placeholder = "Age" })
        <span id="age-validation"></span>
        @Html.ValidationMessageFor(a => a.Age)<br />
        @Html.DisplayNameFor(a => a.Email)
        @Html.TextBoxFor(a => a.Email, new { placeholder = "Email" })
        <span id="email-validation"></span>
        @Html.ValidationMessageFor(a => a.Email)<br />
        @Html.DisplayNameFor(a => a.PasswordHash)
        @Html.TextBoxFor(a => a.PasswordHash, new { placeholder = "Password" })
        <span id="passwordHash-validation"></span>
        @Html.ValidationMessageFor(a => a.PasswordHash)<br />

        <div hidden>@Html.TextBoxFor(a=>a.MemberUserId) </div>
        <button type="button" name="Submit" id="SuumitId">ثبت </button>
    </form>
</div>
<br /><br /><br />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Name").focusout(function () {
            var name = $("#Name").val();
            if (name == "") {
                $("#name-validation").text("نام خالی می باشد")
            }
        })
        $("#Lastname").focusout(function () {
            var lastname = $("#Lastname").val();
            if (lastname == "") {
                $("#lastname-validation").text("نام خانوادگی خالی می باشد")
            }
        })
        $("#Age").focusout(function () {
            var age = $("#Age").val();
            if (age == "") {
                $("#age-validation").text("سن خالی می باشد")
            }
        })
        $("#Email").focusout(function () {
            var email = $("#Email").val();
            if (email == "") {
                $("#email-validation").text("ایمیل خالی می باشد")
            }
            $.ajax({
                type: "GET",
                url: "/Home/EmailExists",
                data: { email: $('#Email').val() }
            }).done(function (result) {
                //debugger
                if (result) {
                    $("#email-validation").text("ایمیل وارد شده تکراری می باشد")
                    $('#Email').val("")
                   }
            });

        });

        $("#PasswordHash").focusout(function () {
            var passwordHash = $("#PasswordHash").val();
            if (passwordHash == "") {
                $("#passwordHash-validation").text("پسورد خالی می باشد")
                           }
        })
        $("#SuumitId").click(function () {
            var passwordHash = $("#PasswordHash").val();
            var email = $('#Email').val();
            var age = $('#Age').val();
            var lastname = $('#Lastname').val();
            var name = $('#Name').val();
            if (name == "") {
                $('#name.validation').text(" فیلد نام خانوادگی خال می باشد")
            } else if (lastname == "") {
                $('#lastname-validation').text("فیلد نام خانوادگی خالی می باشد")
            } else if (age == "") {
                $('#age-validation').text("فیلد نام خال می باشد ")
            } else if (email == "") {
                $('#email-validation').text(' فیلد ایمیل خالی می باشد')
            } else if (passwordHash == "") {
                $('#passwordHash-validation').text("فیلد پسورد خالی می باشد ")

            }
            else {
                $("form").submit()

            }
        });
    });
</script>
