﻿@model MyVideoClub.Models.VideoClubDBModels.Video
@{
    ViewBag.Title = "EditMovie";
}

<h2>EditMovie</h2>


<h4>@Model.MovieName &nbsp; @Model.Topic</h4>
<div>
    <form method="post">
        <br />
        @Html.DisplayNameFor(a => a.MovieName)
        @Html.TextBoxFor(a => a.MovieName, new { placeholder = "Movie Name" })
        <span id="MovieName-validation"></span>
        @Html.ValidationMessageFor(a => a.MovieName)<br />

        @Html.DisplayNameFor(a => a.Topic)
        @Html.TextBoxFor(a => a.Topic, new { placeholder = "Topic" })
        <span id="Topic-validation"></span>
        @Html.ValidationMessageFor(a => a.Topic)<br />

        @Html.DisplayNameFor(a => a.MovieCount)
        @Html.TextBoxFor(a => a.MovieCount )
        <span id="Moviecunt-validation"></span>
        @Html.ValidationMessageFor(a => a.MovieCount)<br />

        @Html.DisplayNameFor(a => a.Description)
        @Html.TextBoxFor(a => a.Description, new { placeholder = "Description" })
        <span id="Description-validation"></span>
        @Html.ValidationMessageFor(a => a.Description)<br />
        <div hidden>@Html.TextBoxFor(a => a.MovieId)</div>
            <button type="button" name="Submit" id="SuumitId" class="btn btn-primary">ثبت </button>
    </form>

</div>
<br /><br /><br />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#MovieName").focusout(function () {
            var MovieName = $("#MovieName").val();
            if (MovieName == "") {
                $("#MovieName-validation").text("نام فیلم خالی می باشد")
            } else {
                $("#MovieName-validation").hide()
            }
            $.ajax({
                type: "GET",
                url: "/Home/MovieNameExists",
                data: { moviename: $('#MovieName').val() }
            }).done(function (result) {
                //debugger
                if (result) {
                    $("#MovieName-validation").text("نام فیلم وارد شده تکراری می باشد")
                    $('#MovieName').val("")
                } else {
                    $("#MovieName-validation").hide()
                }
            });
        })
        $("#Topic").focusout(function () {
            var Topic = $("#Topic").val();
            if (Topic == "") {
                $("#Topic-validation").text("تاپیک را مشخص کنید")
            } else {
                $("#Topic-validation").hide()
            }
        })
        $("#MovieCount").focusout(function () {
            var MovieCount = $("#MovieCount").val();
            if (MovieCount == "") {
                $("#MovieCount-validation").text("تعداد خالی می باشد")
            } else {
                $("#MovieCunt-validation").hide()
            }
        })
        $("#Description").focusout(function () {
            var Description = $("#Description").val();
            if (Description == "") {
                $("#Description-validation").text("توضیحات خالی می باشد")
            }
        })

        $("#SuumitId").click(function () {
            var Description = $('#Description').val();
            var MovieCount = $('#MovieCount').val();
            var Topic = $('#Topic').val();
            var MovieName = $('#MovieName').val();
            if (MovieName == "") {
                $('#MovieName-validation').text(" فیلد نام فیلم خالی می باشد")
            } else if (Topic == "") {
                $('#Topic-validation').text("فیلد تاپیک خالی می باشد ")

            } else if (MovieCount == "") {
                $('#MovieCount-validation').text(' فیلد تعداد فیلم خالی می باشد')

            } else if (Description == "") {
                $('#Description-validation').text("فیلد توضیحات خالی می باشد ")

            }
            else {
                $("form").submit()

            }
        })

    });
</script>

