﻿
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div>&nbsp;
    @Html.ActionLink("Login", "Login") &nbsp;   
    @Html.ActionLink("Register", "Register") &nbsp;
    @Html.ActionLink("Add Movie", "AddMovie") &nbsp;
    @Html.ActionLink("Rent Movie", "RentMovie") &nbsp;
    @Html.ActionLink("Edit Movie", "EditMovie") &nbsp;
    @Html.ActionLink("Edit Member", "EditMember") &nbsp;
    @Html.ActionLink("See All Member", "SeeAllMember") &nbsp;
    @Html.ActionLink("See All Movie", "SeeAllMovie") &nbsp;
    @Html.ActionLink("Search", "Search") &nbsp;
</div>
<hr />
<div class="col-md-6">
    @Html.Action("SearchMember")
</div>
<br/><br/><br/>
<div class="col-md-6">
    @Html.Action("SearchMovie")
</div>
