﻿@model List<MyVideoClub.Models.VideoClubDBModels.Rent>
@{
    ViewBag.Title = "RentMovie";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<h2>RentMovie</h2>
<link href="~/Content/MyCss.css" rel="stylesheet" />

<br />
<br />
<form method="post">
    <div class="dropdown">
        <select id="movieDrop" name="MemberUserId" class="form-control">

            <option value=""> اعضا</option>
            @foreach (var item in (List<MyVideoClub.Models.VideoClubDBModels.Rent>)Model)
            {

                <option value="@item.MemberUserId">@item.Name&nbsp;@item.Lastname</option>


            }
        </select>

    </div>
    <div class="dropdown">
        <select id="movieDrop" name="movieId" class="form-control">

            <option value="">فیلم ها</option>
            @foreach (var item in (List<MyVideoClub.Models.VideoClubDBModels.Rent>)Model)
            {
                if (item.MovieName != null)
                {
                    <option value="@item.MovieId">@item.MovieName</option>
                }

            }
        </select>

    </div>



    <input type="submit" value="submit" />
</form>



<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        $("#movieDrop").change(function ()
        {
            var self = $(this);
            alert(self.val());


        })
    });
</script>