﻿@model MyVideoClub.Models.VideoClubDBModels.Video
<h2>جستجو در فیلم ها</h2>
<script src="~/Scripts/bootstrap.min.js"></script>

<div>
    <form method="post">
        <input type="text" id="Email" name="movieName" value="" />
        <span  id="span"></span><br/>
        <button type="button" name="Submit" id="SuumitId" class="btn-primary">ثبت </button>
    </form>
</div>
<div id="div">
    @Html.TextBoxFor(a => a.MovieName)
    @Html.TextBoxFor(a => a.Topic)
    @Html.TextBoxFor(a => a.Description)
    @Html.TextBoxFor(a => a.MovieCount)

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SuumitId").click(function () {
            var email = $("#Email").val()
            if (email == "") {
                $("#span").text("نام فیلم مورد نظر را وارد کنید")
            } else {
                $("form").submit()
            }
            
        });
    });
</script>

