﻿@model MyVideoClub.Models.VideoClubDBModels.MemberUserModel
<h2>جستجو در اعضا</h2>
<script src="~/Scripts/bootstrap.min.js"></script>

<div>
    <form method="post">
        <input type="text" name="email" placeholder="Email" id="Email" />
        <span id="email-validation"></span><br />
        <button type="button" name="Submit" id="SuumitId">ثبت </button>
    </form>
</div>
<div id="div">
    <h4>
        @Html.TextBoxFor(a => a.Name, new { placeholder = "Name" })
        @Html.TextBoxFor(a => a.Lastname, new { placeholder = "Lastname" })
        @Html.TextBoxFor(a => a.Age, new { placeholder = "Age" })
        @Html.TextBoxFor(a => a.Email, new { placeholder = "Email" })
        @Html.TextBoxFor(a => a.RegisterDate, new { placeholder = "RegisterDate" })
    </h4>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SuumitId").click(function () {
            var email = $('#Email').val();
            if (email == "") {
                $('#email.validation').text(" لطفا ایمیل مورد نظر را وارد کنید")
            } else {
                $("form").submit()
            }
        });
    });
</script>
