﻿@model MyVideoClub.Models.VideoClubDBModels.MemberUserModel[]
@{
    ViewBag.Title = "SeeAllMember";
}

<h2>SeeAllMember</h2>
<ul>


    @foreach (var item in Model)
    {
<li><a href="@Url.Action("EditMember", new {id = item.MemberUserId })"> <h3>@item.Name &nbsp; @item.Lastname</h3></a><br /></li>
    }
</ul>
