﻿@model MyVideoClub.Models.VideoClubDBModels.Video[]
@{
    ViewBag.Title = "SeeAllMovie";
}

<h2>SeeAllMovie</h2>
<ul>
@foreach (var item in Model)
{
    <li><a href="@Url.Action("EditMovie", new {id = item.MovieId})"><h4>@item.MovieName &nbsp; @item.Topic</h4></a><br /></li>
}
</ul>

